.c-name {
  font-family: "Palanquin", sans-serif;
  letter-spacing: 4rem;
  margin-right: -4rem;
}
.c-status {
  font-family: "Palanquin", sans-serif;
  letter-spacing: 3rem;
  margin-right: -3rem;
}

input#password:focus-within ~ label,
input#password:not(:placeholder-shown) ~ label {
  @apply hidden;
}

.static-image {
  grid-area: 1/1;
}

.country {
  height: 28rem;
}
.country-image {
  grid-area: 1/1;
  filter: blur(1px) grayscale(1);
  transition: all 450ms ease-out;
}

.country:hover .country-image {
  filter: blur(0) grayscale(0);
  transform: scale(1.02);
}

.country-name {
  font-family: "Palanquin", sans-serif;
  font-weight: 700;
  text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.2);
}

.text-shadow {
  text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 760px) {
  .c-name {
    letter-spacing: 2rem;
    margin-right: -2rem;
  }
  .c-status {
    letter-spacing: 2rem;
    margin-right: -2rem;
  }
}

.sea-backdrop-1 {
  background: rgb(122, 177, 196);
  background: -moz-linear-gradient(
    0deg,
    rgba(122, 177, 196, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(122, 177, 196, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(122, 177, 196, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ab1c4",endColorstr="#8a0000",GradientType=1);
}

.sea-backdrop-2 {
  background: rgb(51, 128, 156);
  background: -moz-linear-gradient(
    0deg,
    rgba(51, 128, 156, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(51, 128, 156, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(51, 128, 156, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#33809c",endColorstr="#8a0000",GradientType=1);
}

.sea-backdrop-3 {
  background: rgb(217, 212, 203);
  background: -moz-linear-gradient(
    0deg,
    rgba(217, 212, 203, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(217, 212, 203, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(217, 212, 203, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9d4cb",endColorstr="#8a0000",GradientType=1);
}

.sea-backdrop-4 {
  background: rgb(12, 17, 28);
  background: -moz-linear-gradient(
    0deg,
    rgba(12, 17, 28, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(12, 17, 28, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(12, 17, 28, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c111c",endColorstr="#8a0000",GradientType=1);
}

.sea-backdrop-5 {
  background: rgb(24, 26, 14);
  background: -moz-linear-gradient(
    0deg,
    rgba(24, 26, 14, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(24, 26, 14, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(24, 26, 14, 1) 0%,
    rgba(138, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#181a0e",endColorstr="#8a0000",GradientType=1);
}
