.palanquin-bold {
  font-family: "Palanquin", sans-serif;
  font-weight: 700;
}

.palanquin-light {
  font-family: "Palanquin", sans-serif;
  font-weight: 100;
}

.c-name {
  letter-spacing: 4.2rem;
  margin-right: -4.2rem;
}
.c-status {
  letter-spacing: 3.5rem;
  margin-right: -3.5rem;
}

input#password:focus-within ~ label,
input#password:not(:placeholder-shown) ~ label {
  @apply hidden;
}

.static-image {
  grid-area: 1/1;
}

.country {
  height: 28rem;
}
.country-image {
  grid-area: 1/1;
  filter: blur(1px) grayscale(1);
  transition: all 300ms ease-out;
}

.country:hover .country-image {
  filter: blur(0) grayscale(0);
  transform: scale(1.02);
}

.country-name {
  text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.2);
}

.text-shadow {
  text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 760px) {
  .c-name {
    letter-spacing: 2rem;
    margin-right: -2rem;
  }
  .c-status {
    letter-spacing: 2rem;
    margin-right: -2rem;
  }
}

.push picture {
  object-position: bottom;
}
@media (max-width: 764px) {
  .push picture {
    object-position: right;
  }
}
