@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
